{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'citas/principal.css' %}">

{% block content %}
<main class="container"> <div class="card"> <h2>Recuperar contraseña</h2>
        <p>Introduce tu correo electrónico y te enviaremos un enlace para restablecer la contraseña.</p>
        
        <form class="form-group" method="post">
            {% csrf_token %}
            
            {{ form|crispy }}
            
            <button type="submit" class="boton">Enviar</button>
        </form>

        <div style="margin-top: 15px; text-align: center;">
            <a href="{% url 'login' %}">Volver al inicio de sesión</a>
        </div>
        
    </div>
</main>
{% endblock %}