{% extends 'citas/base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'citas/catalogo.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Buscar Servicios</h2>
    <div class="buscador">
    <form method="GET" action="{% url 'catalogo_servicios' %}" class="mb-4">
        <input type="text" name="q" value="{{ query }}" placeholder="Ej: Abogado, Limpieza..." class="form-control">
        <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    </form>
    </div>

    <div class="grid">
        {% for s in servicios %}
        
            <div class="card">
                
                    <h2>{{ s.nombre }}</h2>
                    <p class="card-text">Ofrecido por: <strong>{{ s.empresa.nombre_negocio }}</strong></p>
                    <p>Precio: ${{ s.precio }}</p>
                    <!-- Aquí se envía el ID del servicio a la URL de agendar -->
                    <a href="{% url 'agendar_cita' s.id %}" class="btn btn-success">Agendar Cita</a>
        
            </div>
        {% empty %}
        <p>No se encontraron servicios que coincidan con tu búsqueda.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
